.clients {
    background-color: $black;
    display: flex;
    height: 500px;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}
.clients__index {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.clients__companies {
    margin: 60px 0 0 0;
    display: flex;
    justify-content: space-around;
}
.clients__header {
    color: $white;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
}
.clients__text {
    color: $gray-color;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin: 15px 0 0 0;
}
.clients__img {
    margin: 111px 0 0 109px; 
}
.clients__img:first-child {
    margin: 111px 0 0 0;
}